/* ========== Company credo ========== */

.company-credo {
  // padding: 94px 0; Desctop
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    & {
      padding: 94px 0;
    }
  }
}

.credo {
  @media screen and (min-width: 768px) {
    & {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: center;
      margin: -15px;
    }
  }
}
// &__cards:not(:last-child) {
//   margin-right: 30px;
// }

.credo__cards {
  margin: 0 auto;
  // max-width: 450px;
  // width: 270px;
  /* height: 101px;*/

  @media screen and (max-width: 767px) {
    & {
      max-width: 450px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      width: calc((100% - 4 * 15px) / 2);

      margin: 15px;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      width: calc((100% - 8 * 15px) / 4);
      margin: 15px;
    }
  }
}

.credo__icon {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $primary-button-color;
  border-radius: 4px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    & {
      width: 354px;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      width: 270px;
    }
  }
}

.credo__title {
  height: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: start;

  color: $primary-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;

  @media screen and (max-width: 767px) {
    & {
      text-align: center;
    }
  }
}

.credo__text {
  /* height: 75px; */
  color: $primary-text-color;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
