/* ==========Partners========== */

.partners {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    & {
      padding: 94px 0;
    }
  }
}

.partners__titel {
  margin-bottom: 30px;
  text-align: center;
  color: $primary-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  @media screen and (min-width: 1200px) {
    & {
      font-size: 36px;
    }
  }
}

.partners__links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  margin: -15px;
}

.partners__logotypes {
  @media screen and (max-width: 767px) {
    & {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      width: calc((100% - 12 * 15px) / 6);
      margin: 15px;
    }
  }
}

.partners__focus {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 210px;
  //  width: 170px;
  height: 92px;
  border: 1px solid $border-color;
  border-radius: 4px;
  fill: $border-color;

  transition: border $transition-duration-timing,
    fill $transition-duration-timing;

  &:hover,
  &:focus {
    border: 1px solid $accent-coolor;
    fill: $accent-coolor;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    & {
      width: 210px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      width: 226px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      width: 170px;
    }
  }
}
