/* ==========Partners========== */

.partners {
  // padding: 94px 0;
  padding: 60px 0;

  &__titel {
    margin-bottom: 30px;
    text-align: center;
    color: $primary-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
  }
}

.partners__links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  @media screen and (max-width: 767px) {
    & {
      margin: -15px;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      margin: -15px;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      margin: -30px;
    }
  }
}
.partners__logotypes {
  @media screen and (max-width: 767px) {
    & {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      width: calc((100% - 12 * 30px) / 6);
      margin: 30px;
    }
  }
}

// Desktop
// .partners__logotypes:nth-child(2n) {
// margin-left: 30px;
// }
//
// .partners__logotypes:not(:nth-last-child(-n + 2)) {
// margin-bottom: 30px;
// }
// &__logotypes:not(:last-child) {
//   margin-right: 30px;
// }

.partners__focus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  //  width: 170px;
  height: 92px;
  border: 1px solid $border-color;
  border-radius: 4px;
  fill: $border-color;

  transition: border $transition-duration-timing,
    fill $transition-duration-timing;

  &:hover,
  &:focus {
    border: 1px solid $accent-coolor;
    fill: $accent-coolor;
  }
}
