/* ==========Portfolio========== */

.portfolio {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    & {
      padding: 94px 0;
    }
  }
}

.filling {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    & {
      margin-bottom: 40px;
      flex-wrap: wrap;
      justify-content: start;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      margin: 50px;
    }
  }
}

.filling__list {
  &:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (max-width: 767px) {
    & {
      margin-bottom: 15px;
    }
  }
}

.filling__filter {
  padding: 6px 22px;
  background-color: $primary-button-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 1px solid transparent;
  border-radius: 4px;

  transition: background-color $transition-duration-timing,
    color $transition-duration-timing, box-shadow $transition-duration-timing;

  &:hover,
  &:focus,
  &--location {
    background-color: $accent-coolor;
    color: $primary-white-color;
    cursor: pointer;
    box-shadow: $shadow-button-portfolio;
  }
}

.publication {
  display: flex;
  flex-wrap: wrap;
  // margin: -15px;
  @media screen and (min-width: 768px) {
    & {
      margin: -15px;
    }
  }
}

.publication__post {
  // outline: 2px solid red;
  // display: flex;
  // flex-wrap: wrap;
  // width: 370px;
  // min-width: 320px;
  // margin: 15px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    & {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      width: calc((100% - 6 * 15px) / 3);
      // margin: 15px;
    }
  }

  // @media screen and (min-wigth: 480px) {
  // & {
  // width: 450px;
  // }
  // }
  // @media screen and (min-wigth: 768px) {
  //   & {
  // width: 354px;
  //
  // }
  // }
  // @media screen and (min-wigth: 1200px) {
  // & {
  // width: 370px;
  // }
  // }
}

.publication__cart {
  position: relative;
  overflow: hidden;

  @media screen and (min-wigth: 768px) {
    & {
      width: 354px;
    }
  }
}

// .cover {
// width: 450px;
// height: 294px;
// object-fit: cover;
// @media screen and (min-wigth: 480px) {
// & {
// width: 450px;
// }
// }
// @media screen and (min-wigth: 768px) {
// & {
// width: 354px;
// }
// }
// @media screen and (min-wigth: 1200px) {
// & {
// width: 370px;
// }
// }
// }

.publication__link {
  // display: block;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow $transition-duration-timing;

  &:hover,
  &:focus {
    box-shadow: $shadow-cards-portfolio;
  }
}

.publication__footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.publication__title {
  margin-bottom: 4px;
  color: $primary-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.publication__category {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.9;
}

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 139, 209, 0.9);
  transform: translatey(100%);

  transition: transform $transition-duration-timing;

  .publication__link:hover &,
  .publication__link:focus & {
    transform: translatey(0);
  }
}

.hidden__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;

  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}
